<h2 mat-dialog-title>Dialog with elements</h2>
<!-- <mat-dialog-content class="mat-typography"> -->
    <div class="">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" id="name" class="form-control"
                    formControlName="name" required >
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" id="email" class="form-control"
                    formControlName="email" required > 
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput id="address" class="form-control"
                    formControlName="address" required ></textarea>
                </mat-form-field>
            </p>
            <h4>
                <label>Gender </label>
                <mat-radio-group id="gender" class="form-control"
                formControlName="gender" required >
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                </mat-radio-group>
            </h4>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Date Of Birth </mat-label>
                    <input matInput [matDatepicker]="picker" id="datePicker" class="form-control"
                    formControlName="datePicker" required >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </p>
            <p>
                <mat-dialog-actions>
                    <button mat-button mat-dialog-close>Close</button>
                    <button mat-button type="submit" [mat-dialog-close]="true" cdkFocusInitial>Submit</button>
                  </mat-dialog-actions>
            </p>
        </form>
    </div>
<!-- </mat-dialog-content> -->